{% extends "base.html" %}
{% block content %}


<div class="container mb-3">
    <div class="row">
    <div class="col-sm card mx-auto text-center" style="width: 25rem; height: auto;">
        <div class="card-body">
            <form action="/admin" method="post">
                <div class="form-floating mb-3">
                    <input type="text"  class="form-control" id="floatingInput" name="RoomNo" placeholder="Enter the RoomNo" required>
                    <label for="floatingInput">Enter the RoomNo</label>
                </div>
                 <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="RoomType" required>
                        <option selected>Open this select menu</option>
                        <option>Non Ac</option>
                        <option>Standard Deluxe AC</option>
                        <option>Luxury AC</option>
                        <option> Suite AC </option>
                    </select>
                    <label for="floatingSelect">Select Room Type</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="status" class="form-control" id="floatingInputGrid" value="AVAILABLE">
                    <label for="floatingInputGrid">Status</label>
                </div>
                <input type="submit" class="btn btn-primary mx-5" value="Add Room">
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}