<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\style.css">
    <title>Document</title>
  <script src="https://kit.fontawesome.com/3568adfd86.js" crossorigin="anonymous"></script>
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light mb-5 mx-5 px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Crowne Plaza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/home" aria-current="page" href="/detail.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">{{session["uname"]}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/booked">Customer Detail</a></li>
            <li><a class="dropdown-item" href="/home">Available Rooms</a></li>
          </ul>
        </li>
          {% if session["uname"] == "Hamza" %}
          <li class="nav-item">
          <a href="/admin"> <button class="btn btn-primary mx-2"> Admin </button></a>
          </li>
          {% endif %}
        <li class="nav-item">
          <a href="/logout"> <button class="btn btn-danger mx-2"> logout </button></a>
        </li>
      </ul>
    </div>
</nav>
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                   {% if messages %}
                    {% for msg in messages %}
                      <div class="alert alert-danger mb-3" style="padding: 2px 0px;">{{msg}}</div>
                     {% endfor %}
                   {% endif %}
                {% endwith %}

                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                   {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-success mb-3" style="padding: 2px 0px;">{{msg}}</div>
                    {% endfor %}
                   {% endif %}
                {% endwith %}
{% block content %}  {% endblock %}



<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<!--<script src={{url_for('static', filename ='..\static\js\java.js')}}></script>-->
<script src ="\static\js\java.js"></script>
</body>
</html>