{% extends "base.html" %}
{% block content %}
<!--<h1 class="text-center">Welcome to Crown plaza</h1>-->
<div class="container">
 <div class="row">
    <div class="col-7">
        <div class="container mt-5">
        <h3>Welcome to Crown Plaza</h3><br>
        <p>Best facility for serving Food and Co-operative staf member
            <br>Book your Room fast!</p>
        <a href="/login" class="btn btn-success">Book Room Now!</a>
            </div>
    </div>
    <div class="col-5"><img src = "\static\image\1.jpg" class="rounded" style="width:500px;"></div>
  </div>
</div>


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="text-center text-lg-start bg-dark">
    <div class="container d-flex justify-content-center py-5">
        <h3>
      <a href="" class="text-white mx-4">
        <i class="fa-brands fa-facebook"></i>
      </a>
        </h3>
        <h3>
      <a href="" class="text-white mx-4">
        <i class="fab fa-youtube"></i>
      </a>
            </h3>
        <h3>
       <a href="" class="text-white mx-4">
       <i class="fa-brands fa-instagram"></i>
      </a>
            </h3>
        <h3>
      <a href="" class="text-white mx-4">
        <i class="fa-brands fa-github"></i>
      </a>
        </h3>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h3>Created By: ANSARI HAMZA MOFEED</h3>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->

{% endblock %}