{% extends "base.html" %}
{% block content %}
<!--<h1 class="text-center">Welcome to Crown plaza</h1>-->
<div class="container">
   <div class="row">
      <div class="col-sm-7">
          <div class="container mt-5">
             <h3>Welcome to Crown Plaza</h3><br>
              <p>Best Rooms with a lots of facility
                Food facility is available and
                 we have Co-operative staff member
                 <br>Book your Room fast!</p>
               <a href="/login" class="btn btn-success">Book Room Now!</a>
            </div>
      </div>

    <div class="col-sm-5 border"><img src = "\static\image\1.jpg" class=" img-fluid rounded" style="width:100%"></div>
  </div>
</div>

<div class="container my-5 px-4 text-start">
    <div class="row">
        <div class="col-sm-4 card">
             <h3 class="text-center py-1"><i class="fa-solid fa-hotel"></i></h3>
            <hr>
            <p>facilities provided inside a hotel room may range from a modest-quality mattress in a small room to large suites with bigger, higher-quality beds, a dresser, a refrigerator and other kitchen facilities, upholstered chairs, a flat screen television, and en-suite bathrooms.</p>
        </div>
        <div class="col-sm-4 card">
             <h3 class="text-center py-1"><i class="fa-solid fa-broom"></i></h3>
            <hr>
            <p>The quality of the cleanliness and sanitation standards is bound to have a higher impact on travelers than ever before and this means that the hotel's reputation also stands in the balance</p>
        </div>
        <div class="col-sm-4 card">
            <h3 class="text-center py-1"><i class="fa-solid fa-utensils"></i></h3>
            <hr>
            <p>The food and beverage faculty represents a huge sector of services within the Crown Plaza that include preparing, presenting, and serving food and beverages to the customers on-premise (at restaurants and hotels) or off-premise (takeaway, restaurant catering service, and food delivery)</p>
        </div>
    </div>
</div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="text-center text-lg-start bg-dark">
    <div class="container d-flex justify-content-center py-5">
        <h3>
      <a href="https://www.facebook.com" class="text-white mx-4">
        <i class="fa-brands fa-facebook"></i>
      </a>
        </h3>

        <h3>
       <a href="https://www.instagram.com/" class="text-white mx-4">
       <i class="fa-brands fa-instagram"></i>
      </a>
            </h3>
        <h3>
      <a href="https://github.com/Hamza-Ansari-7890" class="text-white mx-4">
        <i class="fa-brands fa-github"></i>
      </a>
        </h3>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h3>Created By: ANSARI HAMZA MOFEED AHMED...... shsug</h3>
    </div>
  </footer>

{% endblock %}